__pycache__/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
data/*raw*.json
data/*raw*.jsonl
data/*cache*.json
data/*cache*.jsonl
results/*raw*.json
results/*raw*.jsonl
results/*cache*.json
results/*cache*.jsonl
*.tmp
